

.crystals{
    display: flex;
    justify-content: space-around;
    align-items:center;

}



.crystal{
    border:1px solid green;
    height:200px;
    width: 200px;

}

img{
    width: 50px
}






/* adding background image 
*/

body{
    background: url('../images/light-blue-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}


